/***********************************************/
/**********		Colors				  **********/
/***********************************************/
/* Base */
$main: grey;
$white: #fff;
$black: #000;

/* Texts */
$text-dark: 	#666;
$text-light: 	#fff;
$text-gray: 	#a6a6a6;

/* Forms */


/***********************************************/
/**********		Widths				  **********/
/***********************************************/
$interface_max_width: 1120px;
$default-font-size: 10;

/***********************************************/
/**********		Breakpoints			  **********/
/***********************************************/
$breakpoint-large: 900px;
$breakpoint-medium: 700px;
$breakpoint-small: 500px;